.checkout_side-menu{
  top: 68px;
  width: 360px;
  height: calc(100vh - 68px);
}

.scrollable-cards{
  overflow: scroll;
}

.scrollable-cards {
  scrollbar-width: auto;
  scrollbar-color: #323232 #323232;
  /* overflow-x: hidden; */
}

/* Chrome, Edge, and Safari */
.scrollable-cards::-webkit-scrollbar {
  width: 4px;
  /* overflow-x: hidden; */
}

.scrollable-cards::-webkit-scrollbar-track {
  background: #ffffff;
  /* overflow-x: hidden; */
}

.scrollable-cards::-webkit-scrollbar-thumb {
  background-color: #323232;
  border-radius: 10px;
  border: 3px solid #9f9f9f;
  /* overflow-x: hidden; */
}